* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #dfeeea;
  background: radial-gradient(
    circle,
    rgba(223, 238, 234, 1) 0%,
    rgba(167, 196, 188, 1) 100%
  );
  color: #2f5d62;
  font-family: "Courier New", Courier, monospace;
  min-height: 100vh;
}

header {
  font-size: 2.5rem;
}

header,
form {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input,
form button {
  padding: 1rem;
  border: none;
  background-color: whitesmoke;
  font-size: 2rem;
}

form button {
  color: #2f5d62;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #2f5d62;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: #2f5d62;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.completed-btn {
  background: #5e8b7e;
  color: white;
  border: none;
  padding: 1rem;
}

.trash-btn:hover {
  background: #2f5d62;
  color: white;
}

.completed-btn {
  background: #5e8b7e;
  color: white;
}
.completed-btn:hover {
  background: #2f5d62;
  color: white;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  border: none;
}

.select {
  margin-left: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #2f5d62;
  width: 13rem;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.5rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: white;
  top: 0;
  right: 0;
  padding: 1.5rem;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

.select:hover:after {
  background: #2f5d62;
  color: white;
}
